#footer {
	border-top: 2px solid var(--c-orange);

	.copy {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
	}

	.logo {
		display: inline-block;
		line-height: 1;
		max-width: 70px;
		margin-right: 20px;
	}
}