.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9991;
    background: rgba(0,0,0,.8);
}

.popup-overlay,
.popup {
    display: none;
    opacity: 0;
}

.popup-overlay.active,
.popup.active {
    display: block;
    animation: opacity 0.5s linear forwards;
}

.form-preloader {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150"><path fill="none" stroke="%23e62801" stroke-width="15" stroke-linecap="round" stroke-dasharray="300 385" stroke-dashoffset="0" d="M275 75c0 31-27 50-50 50-58 0-92-100-150-100-28 0-50 22-50 50s23 50 50 50c58 0 92-100 150-100 24 0 50 19 50 50Z"><animate attributeName="stroke-dashoffset" calcMode="spline" dur="2" values="685;-685" keySplines="0 0 1 1" repeatCount="indefinite"></animate></path></svg>');
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.popup {
    position: absolute;
    left: 50%;
    z-index: 9992;
    transform: translateX(-50%);
    background: #fff;
    max-width: 500px;
    width: 100%;
    padding: 30px;

    .popup-close {
        background: none;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
            fill: var(--c-orange);
        }
    }

    .title {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;

        [type="submit"] {margin-top: 0;}
    }

    input::placeholder {color: #8b8b8b;}

    input[type="tel"] {
        width: 100%;
        min-height: 40px;
        padding: 5px 0 5px 0;
        border-bottom: 1px solid var(--c-orange);
    }

    .label {
        display: block;
        margin-top: 15px;

        input, textarea {
            display: block;
            width: 100%;
            min-height: 40px;
            padding: 0 15px;
            background: #ebebeb;
            border-bottom: 0;
            border-radius: 3px;
        }

        textarea {
            min-height: 100px;
            resize: none;
            padding-top: 10px;
        }
    }

    [type="submit"] {
        background: var(--c-orange);
        color: #fff;
        min-height: 40px;
        margin-top: 15px;

        &:hover {
            background: var(--color);
            border-color: var(--color);
        }
    }

    @media (max-width: 600px) {
        width: 95%;
    }
}

.popup.popup-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}